<style>
  .oddrow { background-color: lightgray}
</style>

<h1>Persons</h1>

Name <br />
<input type="text" #name /> 
<p></p>
Mobile <br />
<input type="number" #mobile  maxlength="10"/>
<p></p>
<button (click)="addPerson(name.value,mobile.value)">Add</button>
{{message}}
<p></p>

<table  *ngIf="persons.length > 0"  width="100%" border="1">
    <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>&nbsp;</th>
    </tr>
    <tr *ngFor="let p of persons;let i = index; let oddRow = odd"
            [class.oddrow]= "oddRow">
        <td>{{p.name}}</td>
        <td>{{p.mobile}}</td>
        <td style="text-align: center">
                         <button (click)="deletePerson(i)">Delete</button>
        </td>
    </tr>

</table>