<style>
  .banner {font-size:30pt;}
  .bright {color:red}
</style>

<h1 [innerHTML]="today"></h1>

<h1>{{today}}</h1>

<input type="text"  [attr.value]="today" />

<input type="checkbox"  [checked]="isMarried" />Married 
<p></p>

Show Banner <input type="checkbox"  (click)="null" #banner/>

<div [class.banner]="banner.checked">Srikanth Technologies</div>

<div [style.color]="banner.checked ? 'green' : 'red' ">Style Binding Demo</div>

<div (mousemove) ="showMouse($event)">
    This is a simple DIV
    <p></p>
    This is second line
</div>

<div [ngClass]="{'banner' : false, 'bright':true}">Attribute Binding</div>

<!-- Directives Demo-->

<h2 *ngIf="false; else falseblock">True Block</h2>
<ng-template #falseblock>
  <h3>False block</h3>
</ng-template>

